@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

$font-headline: 'Slabo 27px';

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.App {
  padding: 2rem;

  h1,
  h2 {
    font-family: $font-headline, 'serif';
  }

  h1 {
    text-align: center;
  }

  .chart-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  section.chart {
    flex-basis: 100%;
    flex: 1;
    min-width: 400px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    padding: 1rem;

    h2 {
      margin-bottom: 0;
    }

    div.summary {
      margin-bottom: auto;
    }
  }

  section.TotalCases {
  }

  section.NewCases {
  }

  section.GrowthRates {
  }

  section.Prediction {
    flex-basis: 100%;

    .color-code {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-bottom: -0.2rem;
      border: thin solid black;
    }
  }

  .legend {
    margin: 1rem;
    padding: 1rem;
    border: thin solid #999;
    background-color: #eee;
  }
}
